---
---

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	background-color: white;
	font-size: 14px;
	line-height: 1.5;
	color: #24292e;
}

.container {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	
}

.posts {
}

.masthead {
	padding: 12px 0;
	background-color: #24292e;
	color: rgba(255,255,255,0.75);
	box-shadow: 0px 0px 5px gray;
}

.avatar {
	display: inline-block;
	float: left;
	
	width: 40px;
	height: 40px;
	margin: 0px 15px;
}

.logo {
	display: inline-block;
	font-size: 20pt;
}

#content {
	.post-username a:hover {
		color: #0366d6;
		text-decoration: underline;
	}
}

.reply {
	border-top: 1px solid lightgray;
	a {
		color: #24292e;
	}
}

#followers, #following {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.userbox {
	display: flex;
	width: 250px;
	
	margin: 10px;
	padding: 5px;
	border: 1px solid lightgrey;
	border-radius: 3px;
}

.userbox-name {
	display: inline-block;
	margin: auto 0;
	margin-left: 15px;
}

.userbox-avatar {
	width: 75px;
	height: 75px;
}

.post {
	padding: 16px 0;
	a {
		color: #24292e;
	}
}

.list-post .post {
	border-bottom: 1px solid #e1e4e8;
}

#loadmore {
	text-align: center;
	width: 100%;
	padding: 6px;
	margin-top: 20px;
	font-weight: 600;
	color: #0366d6;
	background: white;
	border: 1px solid #e1e4e8;
	border-radius: 3px;
}

#loadmore:hover, #loadmore:focus {
	background-color: #f6f8fa;
}

#signin-form {
	display: none;
}

#write-form {
	display: none;
	
	p {
		display: inline-block;
	}
	
	#submit-wait {
		display: none;
	}
}

p#username {
	font-size: 12pt;
}

.form {
	margin: 5px;
	padding: 5px;
	border: 1px solid #e1e4e8;
	border-radius: 3px;
}

input {
	min-height: 34px;
	padding: 6px 8px;
	font-size: 16px;
	line-height: 20px;
	color: #24292e;
	vertical-align: middle;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: right 8px center;
	border: 1px solid #d1d5da;
	border-radius: 3px;
	outline: none;
	box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
}

input:focus {
	border-color: #2188ff;
	outline: none;
	box-shadow: inset 0 1px 2px rgba(27,31,35,0.075),0 0 0 0.2em rgba(3,102,214,0.3)
}

a {
	color: dodgerblue;
	text-decoration: none;
}

a:hover, a:active {
	color: dodgerblue;
}

.btn {
	display: inline-block;
	font-weight: 600;
	vertical-align: middle;
	background-repeat: repeat-x;
	border: 1px solid rgba(27,31,35,0.2);
	border-radius: 5px;
}

.btn-github, .btn-github:visited {
	color: #fff;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
	
	width: 100%;
	padding: 5px 0;
	
	font-size: 12pt;
	
}

.btn-github:focus {
	box-shadow: 0 0 0 0.2em rgba(52,208,88,0.4);
}

.btn-github:hover {
	background-color: #269f42;
	background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
	background-position: -.5em;
	border-color: rgba(27,31,35,0.5)
}

.btn-github:active {
	background-color: #279f43;
	background-image: none;
	border-color: rgba(27,31,35,0.5);
	box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15)
}
