<div class="post">
	<h1 class="post-username"><a href="http://github.com/{{ include.name }}" target="null">{{ include.name }}</a></h1>
	{% if include.replytourl %}
	<div class="post-replyto">
		<a class="replyto-link" href="{{ site.baseurl }}{{ include.replytourl }}">Reply to {{ include.replytoname }}:</a>
		{% for post in site.posts %}
			{% if post.url == include.replytourl %}
				<div>{{ post.content | strip_html | truncate: 128 }}</div>
			{% endif %}
		{% endfor %}
	</div>
	{% endif %}
	<div class="post-content">
		<a class="post-link" href="{{ site.baseurl }}{{ include.url }}">
			{{ include.content }}
		</a>
	</div>
	<p class="post-date">{{ include.date | date: "%Y-%m-%d %H:%M:%S" }}</p>
</div>